# Assessment Test

### This is the assessment test of our first part of the course.

Here we are going to check your capabilities on managing and using the basic programming concepts we have studied so far:

 * Objects and Data Structure
 * Comparison Operators
 * Statements
 * Method and Functions

## Objects and Data Structures

1. Use the string below:
 * Print the first letter of the string.
 * Print the @
 * Print the sequence "fuerteventura"
 * Split the string on @

In [4]:
my_string = "fuerteventura@2019"

In [118]:
print(my_string[0])

f

In [119]:
print(my_string[my_string.index("@")])

@

In [120]:
my_string.split("@")[0]
#for el in my_string:
 #   print(el)

'fuerteventura'

In [8]:
my_string.split('@')

['fuerteventura', '2019']

2. Use the list below:
 * Print the second element of the list
 * Print the last element of the list
 * Print the sequence from the 4th to the 5th element
 * Print the second element of the sublist
 * Append the word "Python"
 * Pop out the sublist

In [121]:
my_list = ["fuerteventura@2019", "coding", "surfing", 2019, ["1988-09-02","1988-02-19"]]
print(my_list[1])

coding

In [122]:
print(my_list[-1])

['1988-09-02', '1988-02-19']

In [123]:
print(my_list[3:5])

[2019, ['1988-09-02', '1988-02-19']]

In [124]:
print(my_list[-1][1])

1988-02-19

In [36]:
my_list.append("Python")
my_list

['fuerteventura@2019',
 'coding',
 'surfing',
 2019,
 ['1988-09-02', '1988-02-19'],
 'Python']

In [38]:
my_list.pop(-2)

['1988-09-02', '1988-02-19']

3. Use the dictionary below:
 * Print all the keys
 * Print all the values
 * Print all the items
 * Print the value of "motorbike"
 * Print the value of "dog"
 * Calculate the differnce between the value of "bike" and the value of "cat"

In [40]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [125]:
list(myDict.keys())

['car', 'bike', 'motorbike', 'pets']

In [126]:
list(myDict.values())

[100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}]

In [127]:
list(myDict.items())

[('car', 100),
 ('bike', 200),
 ('motorbike', 300),
 ('pets', {'dog': 100, 'cat': 50, 'rabbit': 200})]

In [44]:
myDict["motorbike"]

300

In [46]:
myDict["pets"]["dog"]

100

In [129]:
print("The value is {}".format(myDict["bike"]-myDict["pets"]["cat"]))

The value is 150

4. Use the tuple below:
 * Print the third element of the tuple
 * Get the index of number 12
 * Count how many times 30 is inside the tuple

In [48]:
t = (80, 30, 30, 12, 80, 40)

In [49]:
t[2]

30

In [52]:
t.index(12)

3

In [53]:
t.count(30)

2

5. In this directory there is a file named "Assessment.txt". Use the **with** method and:
 * Open the .txt file and read what's is written inside
 * Open again the "Assessment.txt" file and write inside your name. Hint: use the "append" argumnet
 * Write a new file and call it "Assessment2.txt", write inside somenthing you like.

In [55]:
with open("Assessment.txt", mode="r") as f:
    content = f.read()
    print(content)

Welcome to fuerteventura!

In [56]:
with open("Assessment.txt", mode="a") as fw:
    fw.write("Beniamino")

In [58]:
%%writefile Assessment2.txt
Today is a sunny day.
Yesterday I remained impressed about the beauty of the surf and the Atlantic Ocean!

Overwriting Assessment2.txt

## Booleans

In [59]:
# Answer before running cell
2 > 3

False

In [60]:
# Answer before running cell
3 <= 2

False

In [61]:
# Answer before running cell
3 == 2.0

False

In [62]:
# Answer before running cell
3.0 == 3

True

In [63]:
# Answer before running cell
4**0.5 != 2

False

In [64]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Comparison Operators

In [65]:
# answer before you run the code
12<5 and 6<2

False

In [66]:
# answer before you run the code
3 < 8 < 9

True

In [67]:
# answer before you run the code
3<9 and 12<30

True

In [68]:
# answer before you run the code 
8>2 and 4>10

False

In [69]:
# answer before you run the code 
3<4 and 'hello' == 'hellos'

False

## Statements

6. Use the code belowe and print out if the number generated is >1, <1 or -1<number<1

In [74]:
import numpy as np
number = np.random.randn()
number

# Insert here your if, elif, else statement
if number>=1:
    #print("The number {} is >1".format(number))
    print(number)
    print("The number is >1")
elif number<=-1:
    #print("The number {} is <-1".format(number))
    print(number)
    print("The number is <-1")
else:
    #print("The number {} is between -1 and 1")
    print(number)
    print("The number is between -1 and 1")

0.5742505242577618
The number is between -1 and 1

## for Loop

7. Use the list below and loop over it with the **for** method:
 * Print only the odds numbers
 * Print only the even numbers
 * Print the sum of all the numbers
 * Print only the unique numbers

In [76]:
lst = [3,5,68,3,4,19,18,5,4]

In [77]:
for el in lst:
    if el%2!=0:
        print(el)

3
5
3
19
5

In [79]:
for el in lst:
    if el%2==0:
        print(el)

68
4
18
4

In [80]:
sum=0
for el in lst:
    sum+=el
print(sum)

129

In [81]:
for el in lst:
    if lst.count(el) ==1:
        print(el)

68
19
18

8. Use the dictionary below and print only the values:

In [82]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [130]:
list(myDict.values())

[100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}]

## while Loop

9. Write a simple while loop that prints all numbers from 10 to 20. The loop must stop when the condition == 20. When you print out the results try to use "string formatting".

In [86]:
count=10
while count<21:
    print("The number is: ", count)
    count+=1

The number is:  10
The number is:  11
The number is:  12
The number is:  13
The number is:  14
The number is:  15
The number is:  16
The number is:  17
The number is:  18
The number is:  19
The number is:  20

10. Write a while loop that prints out all odd numbers from 30 to 50. Save all the even numbers into a list, print the list at the end.

In [89]:
count=30
lst=[]
while count<51:
    if count%2!=0:
        print(count)
        count+=1
    else:
     lst.append(count)   
     count+=1
print(lst)

31
33
35
37
39
41
43
45
47
49
[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

11. Write a while loop that goes from 15 to 25. Print out every number, if a number is multiple of 12 break the loop, otherwise continue.

In [90]:
count=15
while count<26:
    if count%12==0:
        break
    else:
        print(count)
        count+=1

15
16
17
18
19
20
21
22
23

## List Comprehension

12. Use the list comprehension method and write a list from the word "Maradona"

In [91]:
[x for x in "Maradona"]

['M', 'a', 'r', 'a', 'd', 'o', 'n', 'a']

## Functions

13. Write a function that computes the volume of a sphere given its radius.
 * radius = 2.5 cm

In [131]:
import numpy as np
def myfun(radius):
    return 4/3*np.pi*radius**3

myfun(1)

4.1887902047863905

14. Write a function that takes in input a list and return only the even numbers

In [99]:
def mysecondfun(lst):
    return [x for x in lst if x%2==0]
mysecondfun([1,2,3,4,5])

[2, 4]

15. Write a function that checks whether a number is in a given range (Inclusive of high and low)
 * E.g: *myfunc(number, lower, higher)*

In [102]:
def rangecheck(number,lower,higher):
    if number>higher or number<lower:
        return False
    else:
        return True
rangecheck(6,-1,1)

False

16. Write a fuction that check if a given number is prime.

In [135]:
def isprime(n):
    x=2
    while x<n:
        if n%x==0:
            return print("{} is not prime!".format(n))
        else:
            x+=1
    return print("{} is prime!".format(n))
    
isprime(4)

4 is not prime!

## Congratulation!

### You have compleated the Assessment Test, now it's time to move on the other session on the course: Numpy,Pandas and Visualization