In [2]:
all([True, False])

False

In [10]:
def my_all(iterable):
    
    for el in iterable:
        if not el:
            return False
    return True

In [11]:
my_all([10>3, 12>40])

False

In [12]:
list('12345')

['1', '2', '3', '4', '5']

In [14]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [15]:
sorted([1,2,3,4,5], reverse=True)

[5, 4, 3, 2, 1]

In [16]:
str='hello'

In [17]:
set(str)

{'e', 'h', 'l', 'o'}

In [18]:
lst=['apple', 'banana', 'grapes', 'peer']

In [23]:
#d = enumerate(lst)

In [24]:
#list(d)

In [26]:
for index, value in enumerate(lst, 100):
    print(index, value)

100 apple
101 banana
102 grapes
103 peer

In [28]:
a=[10,20,30,40]
b=['I', 'love', 'surfing', 'now', 'fuerteventura']
zipped = zip(a,b)
list(zipped)

[(10, 'I'), (20, 'love'), (30, 'surfing'), (40, 'now')]

In [29]:
def say_hello():
    print('hello')

In [31]:
def say_hello():
    return('hello')

In [32]:
x=say_hello()

In [33]:
x

'hello'

In [34]:
def greeting(name):
    return('Hello' + name)

In [37]:
greeting(' Andrea!')

'Hello Andrea!'

In [38]:
def greeting(name):
    '''
    Doc: This function is greetings a name
    '''
    return('Hello' + name)

In [39]:
def add_number(n1,n2):
    '''
    Doc: This function sums up two numbers
    '''
    return(n1+n2)

In [40]:
add_number(2,22)

24

In [41]:
add_number('one','two')

'onetwo'

In [42]:
add_number([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [43]:
def String_Check(string):
    '''
    The function check if "car" is the string
    '''
    return 'car' in string.lower()

In [46]:
String_Check('my Car is yellow')

False

In [47]:
def my_len(iterable):
    '''
    Count the elements into an iterable object   
    '''
    counter=0
    for el in iterable:
        counter+=1
    return counter

In [48]:
my_len('benji')

5

In [59]:
def Check_Prime(number):
    '''
    Check if a number is prime
    '''
    if number > 2 and number%2==0:
        return False
    else:
        for n in range(1,(number-1)):
            if number%n==0:
                return False
    if number<2:
        return False
    else:
        return True

In [62]:
Check_Prime(5361)

False